// def version = file("${projectDir}/VERSION").exists() ? file("${projectDir}/VERSION").text.trim() : "Unknown"

manifest {
    name            = 'nf-metgenomics-piplines'
    author          = 'Olm Lab'
    homePage        = 'https://github.com/OlmLab/bioinformatics_pipelines'
    description     = 'Genome resolved metagenomics'
    mainScript      = 'pipelines.nf'
    nextflowVersion = '!>=21.10.3'
    // version         = "${version}"
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {
    // Global Parameters
    help = false
    output_dir = "./output"    // (string) Directory for analysis output

    // Sylph Subworkflow Parameters
    input_type = 'local'        // Make this "sra" if getting reads from SRA
    input_file = null           // Input file for analysis
    sylph_db = "http://faust.compbio.cs.cmu.edu/sylph-stuff/gtdb-r220-c200-dbv1.syldb"

    // Bowtie2 Subworkflow Parameters
    input_file = null           // Read input file for analysis
    genome_db = null
    fastas = null
    fastas_list = null
    bowtie2_index = null
    keep_bam = false
    // InStrain Profile Workflow Parameters
    stb = null
    genes_file = null
    input_file = null           // Read input file for analysis
    genome_db = null
    fastas = null
    fastas_list = null
    bowtie2_index = null
    instrain_args = "--skip_plot_generation"
    // Boilerplate options
    tracedir                   = "${params.output_dir}/pipeline_info"
    publish_dir_mode           = 'copy'
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Load the base config
----------------------------------------------------------------------------------------
*/

// Load the modules config for all the modules
includeConfig 'configs/modules.config'

// Load the modules config for all the profiles
includeConfig 'configs/profiles.config'
