singularity.enabled = true

process{
    
    container="docker://parsaghadermazi:roadmap1:amd64"
    executor = 'slurm'

    withname: 'read_qc_fastp'{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }
    withname: 'concatenate_files'{
        memory = '12 GB'
        time = '10m'
        cpus = 4
        queue='amilan'
    }

    withname: 'download_files'{
        time = '10h'
        cpus=1
        queue='amilan'
    }
    
    withname: 'get_sequences_from_sra'{
        time = '10h'
        cpus=1
        queue='amilan'
    }
    withname: 'binning_with_metabat2'{
        memory = '40 GB'
        time = '5h'
        cpus = 12
        queue='amilan'
    }
    
    withname: 'get_coverage_for_metabat2'{
        memory = '20 GB'
        time = '5h'
        cpus = 7
        queue='amilan'
    }

    withname: 'assemble_with_megahit'{
        memory = '100 GB'
        time = '10h'
        cpus = 32
        queue='amilan'
    }
    withname:"index_bowtie2"{
        memory = '20 GB'
        time = '5h'
        cpus = 7
        queue='amilan'
    }
    withname:"align_bowtie2"{
        memory = '80 GB'
        time = '10h'
        cpus = 25
        queue='amilan'
    }

    withname:"convert_sam_to_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }
    withname:"sort_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }
    withname:"convert_sam_to_sorted_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }
    withname:"get_unmapped_reads"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }
    withname:"get_mapped_reads"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        queue='amilan'
    }



}