singularity.enabled = true
process.executor ='slurm'
process.queue = 'amilan'

process{
    
    withName: read_qc_fastp{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName: concatenate_files{
        memory = '12 GB'
        time = '10m'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }

    withName: 'download_files'{
        time = '10h'
        cpus=1
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    
    withName: 'get_sequences_from_sra'{
        time = '10h'
        cpus=1
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName: 'binning_with_metabat2'{
        memory = '40 GB'
        time = '5h'
        cpus = 12
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    
    withName: 'get_coverage_for_metabat2'{
        memory = '20 GB'
        time = '5h'
        cpus = 7
        container="docker://parsaghadermazi/roadmap1:amd64"

    }

    withName: 'assemble_with_megahit'{
        memory = '100 GB'
        time = '10h'
        cpus = 32
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:index_bowtie2{
        memory = '15 GB'
        time = '5h'
        cpus = 7
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"align_bowtie2"{
        memory = '15 GB'
        time = '10h'
        cpus = 8
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    
    withName:"map_reads_fasta_pairs"{
        memory = '15 GB'
        time = '10h'
        cpus = 8
        container="docker://parsaghadermazi/roadmap1:amd64"

    }

    withName:"convert_sam_to_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"sort_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"convert_sam_to_sorted_bam"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"get_unmapped_reads"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"get_mapped_reads"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"estimate_abundance_coverm"{
        memory = '12 GB'
        time = '1h'
        cpus = 4
        container="docker://parsaghadermazi/roadmap1:amd64"

    }
    withName:"profile_with_instrain"{
        memory = '12 GB'
        time = '1h'
        cpus = 8
        container="docker://parsaghadermazi/roadmap2:amd64"
    }
    withName:"compare_instrain_profiles"{
        memory = '12 GB'
        time = '1h'
        cpus = 8
        container="docker://parsaghadermazi/roadmap2:amd64"
    }
    withName:"make_stb_file_instrain"{
        memory = '12 GB'
        time = '1h'
        cpus = 8
        container="docker://parsaghadermazi/roadmap2:amd64"
    }
    withName:"dereplicate_drep"{
        memory = '80 GB'
        time = '10h'
        cpus = 25
        container="docker://parsaghadermazi/roadmap3:amd64"
    }

    


}