apptainer.enabled = true
apptainer.cacheDir="$APPTAINER_CACHEDIR"
process.executor ='slurm'
process.queue = 'blanca-curc'
process.clusterOptions = '--account=blanca-curc --qos=blanca-curc --reservation=olm'
apptainer.pullTimeout="10h"


profiles{
     ignore_errors{
         process.errorStrategy="ignore"
     }
 }